# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
ios/StreetPlayer/.xcode-packages/
ios/StreetPlayer/build-xcode.log
ios/StreetPlayer/build-run.log
ios/StreetPlayer/*.log
ios/StreetPlayer/StreetPlayer *.xcodeproj/
ios/StreetPlayer/**/*.xcuserstate
ios/StreetPlayer/**/xcuserdata/
ios/StreetPlayer/build/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
ios/StreetPlayer/StreetPlayer/Resources/GoogleService-Info.plist

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.env*.local
